*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  height: 50px;
  width: 100%;
  background-color: red;
}
.orange {
  height: 500px;
  width: 100%;
  background-color: orange;
}
main {
  width: 960px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.green {
  height: 1400px;
  width: 500px;
  background-color: green;
}
.palegreen {
  height: 1400px;
  width: 230px;
  background-color:palegreen;
}
footer {
  height: 100px;
  width: 100%;
  background-color:blue;
}